X509.getSubjectString() alignment with RFC8705 and RFC4514

When https://kjur.github.io/jsrsasign/api/symbols/X509.html#getSubjectString is used with  https://kjur.github.io/jsrsasign/api/symbols/KJUR.asn1.x509.X500Name.html#.compatToLDAP to calculate a "tls_client_auth_subject_dn" as per https://tools.ietf.org/html/rfc8705#section-2.1.2, resulting string may contain shortNames that are not part of the MUST list of https://tools.ietf.org/html/rfc4514#section-3 causing a problem with TLS Client Auth OIDC registered clients.

Expectaction is for  getSubjectString() to return only shortName of entries from RFC4514 and leave others in OID numeric format.

Example:
Current Behaviour of getSubjectString() -> "CN=ABC,organizationIdentifier=123,O=XYZ,C=GB"
Expected Behaviour of getSubjectString() -> "CN=ABC,2.5.4.97=123,O=XYZ,C=GB"

This because OID 2.5.4.97 is not part of MUST OIDs of RFC4514.

Sorry but there is no "MUST" requirement to leave organizationIdentifier as numeric format. There is no plan to modify this. Thank you for understanding. 

Hi Kenji,

thank you for you quick reply.

According to https://tools.ietf.org/html/rfc4514#section-3
```
Implementations MUST recognize AttributeType name strings
   (descriptors) listed in the following table, but MAY recognize other
   name strings.

      String  X.500 AttributeType
      ------  --------------------------------------------
      CN      commonName (2.5.4.3)
      L       localityName (2.5.4.7)
      ST      stateOrProvinceName (2.5.4.8)
      O       organizationName (2.5.4.10)
      OU      organizationalUnitName (2.5.4.11)
      C       countryName (2.5.4.6)
      STREET  streetAddress (2.5.4.9)
      DC      domainComponent (0.9.2342.19200300.100.1.25)
      UID     userId (0.9.2342.19200300.100.1.1)

   These attribute types are described in [RFC4519].

   Implementations MAY recognize other DN string representations.
   However, as there is no requirement that alternative DN string
   representations be recognized (and, if so, how), implementations
   SHOULD only generate DN strings in accordance with Section 2 of this
   document.
```

and from Section 2, specifically from https://tools.ietf.org/html/rfc4514#section-2.3

```
   The AttributeTypeAndValue is encoded as the string representation of
   the AttributeType, followed by an equals sign ('=' U+003D) character,
   followed by the string representation of the AttributeValue.  The
   encoding of the AttributeValue is given in Section 2.4.

   If the AttributeType is defined to have a short name (descriptor)
   [RFC4512] and that short name is known to be registered [REGISTRY]
   [RFC4520] as identifying the AttributeType, that short name, a
   <descr>, is used.  Otherwise the AttributeType is encoded as the
   dotted-decimal encoding, a <numericoid>, of its OBJECT IDENTIFIER.
   The <descr> and <numericoid> are defined in [RFC4512].

   Implementations are not expected to dynamically update their
   knowledge of registered short names.  However, implementations SHOULD
   provide a mechanism to allow their knowledge of registered short
   names to be updated.
```